<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>목표 목록</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onClick="|location.href='@{/basic/purposes/add}'|" type="button">목표 등록</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>목표명</th>
                <th>내용</th>
                <th>완료 기일</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="purpose : ${purposes}">
                    <td><a href="purpose.html"
                           th:href="@{/basic/purposes/{purposeId}(purposeId=${purpose.id})}"
                           th:text="${purpose.id}">목표 ID</a>
                    </td>

                    <td><a href="purpose.html"
                           th:href="@{/basic/purposes/{purposeId}(purposeId=${purpose.id})}"
                           th:text="${purpose.purposeName}">목표명</a>
                    </td>
                    <td th:text="${purpose.purposeContent}"></td>
                    <td th:text="${purpose.purposeDue}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>